BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 9pt Arial, sans-serif; BACKGROUND: #fff; HEIGHT: 100%; OVERFLOW: hidden; PADDING-TOP: 0px
}
.bodyflow {
	OVERFLOW: auto
}
TR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.clear {
	LINE-HEIGHT: 0; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 0px
}
.displaynone {
	DISPLAY: none
}
.displaytrue {
	OVERFLOW: hidden
}
A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
TEXTAREA {
	FONT-SIZE: 9pt
}
FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
.clear {
	CLEAR: both
}
* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 12px; PADDING-TOP: 2px
}
TEXTAREA {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 12px; PADDING-TOP: 2px
}
SELECT {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 12px; PADDING-TOP: 2px
}
A {
	COLOR: #4a4a4a; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #4a4a4a; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #fb5118; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.annex {
	COLOR: #214366; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.annex:visited {
	COLOR: #214366; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.annex:hover {
	COLOR: #ff6c00; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.lnglist {
	COLOR: #ff6c00; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.lnglist:visited {
	COLOR: #ff6c00; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.lnglist:hover {
	COLOR: #0f698f; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.infolink01 {
	COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.infolink01:visited {
	COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.infolink01:hover {
	COLOR: #86afd8; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.infolink02 {
	COLOR: #0f698f; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.infolink02:visited {
	COLOR: #0f698f; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.infolink02:hover {
	COLOR: #4b892a; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.infolink03 {
	COLOR: #454351; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.infolink03:visited {
	COLOR: #454351; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.infolink03:hover {
	COLOR: #342af1; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.infolink04 {
	COLOR: #454351; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.infolink04:visited {
	COLOR: #454351; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.infolink04:hover {
	COLOR: #5bbe72; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.infolink04b {
	COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.infolink04b:visited {
	COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.infolink04b:hover {
	COLOR: #eb5a00; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.infolink05 {
	COLOR: #e05600; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.infolink05:visited {
	COLOR: #e05600; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.infolink05:hover {
	COLOR: #2c45b5; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.infolink06 {
	COLOR: #0f698f; FONT-SIZE: 12px; CURSOR: pointer; TEXT-DECORATION: none
}
A.infolink06:visited {
	COLOR: #0f698f; FONT-SIZE: 12px; CURSOR: pointer; TEXT-DECORATION: none
}
A.infolink06:hover {
	COLOR: #4b892a; FONT-SIZE: 12px; CURSOR: pointer; TEXT-DECORATION: underline
}
A.tabclicklink {
	COLOR: #f45810; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.tabclicklink:visited {
	COLOR: #f45810; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.tabclicklink:hover {
	COLOR: #277dec; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
INPUT.smallInput {
	BORDER-BOTTOM-COLOR: #cad9ea; BORDER-RIGHT-WIDTH: 1px; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: black; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 15px; BORDER-RIGHT-COLOR: #cad9ea; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: black; BORDER-LEFT-WIDTH: 1px
}
INPUT.infoInput {
	BORDER-BOTTOM-COLOR: #cad9ea; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #a0a0a0; BACKGROUND: url(/images/bj_line.gif) repeat-x; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 18px; BORDER-RIGHT-COLOR: #cad9ea; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #a0a0a0; BORDER-LEFT-WIDTH: 1px
}
INPUT.infoInput:hover {
	BORDER-BOTTOM-COLOR: #cbd9eb; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #a0a0a0; BACKGROUND: url(/images/class_bg.jpg) repeat-x 0px -72px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 18px; BORDER-RIGHT-COLOR: #cbd9eb; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #a0a0a0; BORDER-LEFT-WIDTH: 1px
}
INPUT.buttonface {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 115px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/subbotton.gif) no-repeat 0px 0px; HEIGHT: 27px; COLOR: #57250e; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT.buttonface:hover {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 115px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/subbotton.gif) no-repeat 0px -81px; HEIGHT: 27px; COLOR: #4775b2; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT.bottons02 {
	BORDER-BOTTOM-COLOR: #cad9ea; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #a0a0a0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/class_bg.jpg) repeat-x 0px 0px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 23px; COLOR: #209248; BORDER-RIGHT-COLOR: #cad9ea; BORDER-LEFT-COLOR: #a0a0a0; BORDER-LEFT-WIDTH: 1px; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
INPUT.bottons02:hover {
	BACKGROUND: url(/images/class_bg.jpg) repeat-x 0px -120px; COLOR: #ee5b17; CURSOR: pointer
}
INPUT.bottons03 {
	BORDER-BOTTOM-COLOR: #cad9ea; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #a0a0a0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/class_bg.jpg) repeat-x 0px -80px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 23px; COLOR: #ee5b17; BORDER-RIGHT-COLOR: #cad9ea; BORDER-LEFT-COLOR: #a0a0a0; BORDER-LEFT-WIDTH: 1px; CURSOR: pointer; PADDING-TOP: 0px
}
INPUT.bottons03:hover {
	BACKGROUND: url(/images/class_bg.jpg) repeat-x 0px -120px; COLOR: #209248; CURSOR: pointer
}
INPUT.bottons04 {
	BORDER-BOTTOM-COLOR: #cad9ea; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #a0a0a0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 60px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 21px; COLOR: #ee5b17; BORDER-RIGHT-COLOR: #cad9ea; BORDER-LEFT-COLOR: #a0a0a0; BORDER-LEFT-WIDTH: 1px; CURSOR: pointer; PADDING-TOP: 0px
}
INPUT.bottons04:hover {
	BACKGROUND: url(/images/class_bg.jpg) repeat-x 0px -120px; COLOR: #209248; CURSOR: pointer
}
